body {
    font-size: 35px;
    text-align: justify;
}
[data-dt] {
    /*color: hsla(0, 0%, 0%, .25);*/
    opacity: .25;
    /*display: none;*/
}
[data-dt=_canonical] {
    /*color: hsla(0, 0%, 100%, 0);*/
    opacity: .01;
    /*display: none;*/
}
[data-gc^=L] {
    /*background-color: hsl(115, 50%, 85%);*/
}
[data-gc^=N] {
    background-color: hsl(210, 100%, 75%);
}
[data-gc^=C] {
    /*background-color: hsl(115, 50%, 85%);*/
}
[data-gc^=M] {
    /*background-color: hsl(0, 50%, 85%);*/
}
[data-gc^=S] {
   background-color: hsl(60, 75%, 85%);
}
[data-gc^=P] {
   /*background-color: hsl(180, 75%, 85%);*/
}
